body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{ margin: 0; padding: 0;}
table{ border-collapse: collapse; border-spacing: 0;}
fieldset, img{ border: 0;}
address, caption, cite, code, dfn, var{ font-style: normal; font-weight: normal;}
ol, ul{ list-style: none;}
caption, th{ text-align: left;}
h1, h2, h3, h4, h5, h6{ font-size: 100%; font-weight: normal;}
q:before, q:after{ content: '';}
abbr, acronym{ border: 0;}

html{ min-width: 300px; overflow-x: hidden; overflow-y: scroll;}
body{ background: white; color: black; font: 16px/1 Oswald, Arial, sans-serif;}
a{ color: #449fdb; cursor: pointer; text-decoration: none;}
a:hover{ text-decoration: none;}
img{ max-width: 100%;}

/* Fonts */

#title, #barbie-text, #staying-afloat-text, #bullets-title em, #overflow, footer p{ font-family: Lato, Arial, sans-serif;}
#volume, #barbie-title, #transformers-summary{ font-family: Lora, Georgia, serif;}
#feature-label, #feature-text, #abbey-road-text, #immigration-content, footer address{ font-family: Merriweather, Georgia, serif; font-weight: 300;}

/* Shared */

#transformers-rating-bar-value{ overflow: hidden; text-indent: -290486px;}

/* Common */

.wrap{ margin: 0 auto; position: relative; width: 960px;}

/* Header */

#preview{ background: url(../cssoff-2013.png) no-repeat center top; display: none; height: 4040px; left: 50%; margin-left: -640px; opacity: 0.75; position: absolute; top: 0; width: 1280px; z-index: 100;}

#masthead{ margin-bottom: 32px;}
#title-background,
#barbie-background{ background: #cdc9dd; height: 698px; left: 0; margin-left: -57px; position: absolute; top: 0; width: 50%; z-index: 10;}
#barbie-background{ background: url(barbie-floor.png) repeat-x center top; height: 310px; top: 698px;z-index: 20;}
#title{ color: white; font-size: 279px; font-weight: 100; left: -39px; letter-spacing: 0.04em; line-height: 227px; position: absolute; text-transform: uppercase; top: 33px; z-index: 70;}
#title span{ margin: 0 -14px 0 -30px;}
#volume{ color: #b0aeb8; font-size: 12px; letter-spacing: 0.2em; position: absolute; right: 0; top: 140px; text-transform: uppercase; z-index: 70;}

#feature{ float: right; margin-top: 189px; position: relative; width: 510px;}
#feature-image{ height: 495px; position: relative; right: 113px; z-index: 40;}
#feature-image img{ max-width: 794px; position: relative; z-index: 40;}
#feature-image:after{ background: url(feature-image-shadow.png) no-repeat 0 0; bottom: -49px; display: block; content: ' '; height: 46px; left: -68px; position: absolute; width: 543px; z-index: 30;}
#feature-content{ margin-top: -147px; position: relative;}
#feature-content:before{ background: url(feature-shield.png) no-repeat 0 0; content: ' '; display: block; height: 188px; left: -84px; position: absolute; top: -14px; width: 411px; z-index: 50;}
#feature-content p,
#feature-title{ position: relative; z-index: 60;}
#feature-label{ color: #cbb8a0; font-size: 13px; letter-spacing: 0.2em; margin-bottom: 5px; text-transform: uppercase;}
#feature-title{ color: #fdcd84; font-size: 75px; line-height: 79px; margin-bottom: 20px; text-transform: uppercase;}
#feature-text{ font-size: 25px; letter-spacing: -0.02em; line-height: 33px;}

#barbie{ float: left; margin-top: 696px; padding-top: 83px; position: relative; text-align: center; width: 410px; z-index: 80;}
#barbie-image{ left: -57px; position: absolute; top: -249px; z-index: 80;}
#barbie-title{ color: #5f5d66; font-size: 36px; font-style: italic; font-weight: 700; margin-bottom: 15px; position: relative; z-index: 90;}
#barbie-text{ color: #6e6c77; font-size: 19px; letter-spacing: -0.02em; line-height: 27px; padding: 0 20px; position: relative; z-index: 90;}

#staying-afloat{ clear: both; float: left; margin-bottom: -27px; position: relative; text-align: right; width: 160px; z-index: 30;}
#staying-afloat-title,
#staying-afloat-text{ padding-right: 20px;}
#staying-afloat-title{ color: #24795a; font-size: 21px; letter-spacing: -0.02em;}
#staying-afloat-text{ color: #464646; font-size: 14px; letter-spacing: -0.02em; line-height: 19px; margin: 10px 0 17px 18px;}

#bullets{ float: right; width: 800px;}
#bullets-title{ border: solid #e5e5e5; border-width: 1px 0; font-size: 12px; overflow: hidden; padding: 15px 0; text-align: center; text-transform: uppercase;}
#bullets-title strong{ color: #a97d35; font-size: 15px; font-weight: 400; letter-spacing: 0.04em; margin-right: 5px; vertical-align: middle;}
#bullets-title em{ color: #e0c167; font-style: normal; font-weight: 700; letter-spacing: 0.08em;}
#bullets-list{ padding-top: 16px;}
#bullets-list li{ box-shadow: 1px 0 0 #e5e5e5; color: #e0e0e0; float: left; padding-bottom: 86px; position: relative; width: 20%;}
#bullets-list li:last-child{ box-shadow: none;}
#bullets-list img{ position: relative; z-index: 10;}
#bullets-list p{ bottom: 0; font-size: 28px; left: 0; letter-spacing: -0.025em; line-height: 1; position: absolute; text-align: center; width: 100%;}
#bullets-list p span{ display: block; margin-bottom: 0.05em;}
#bullets-list p span span{ display: inline; margin-bottom: 0;}
#bullets-list .bullet-size{ font-size: 79px;}
#bullets-list .bullet-name{ text-transform: uppercase;}
#bullets-list .bullet-weight{ font-size: 32px; margin-bottom: 0;}
#bullet-russian-154 .bullet-size{ font-size: 31px;}
#bullet-russian-154 .bullet-name{ font-size: 40px;}
#bullet-russian-154 .bullet-weight{ font-size: 39px;}
#bullet-thumper-220 .bullet-size,
#bullet-thumper-240 .bullet-size{ font-size: 87px;}
#bullet-thumper-220 .bullet-name,
#bullet-thumper-240 .bullet-name{ font-size: 38px;}
#bullet-thumper-220 .bullet-weight{ font-size: 40px;}
#bullet-thumper-240 .bullet-weight{ font-size: 32px;}

#abbey-road{ clear: both; position: relative; z-index: 20;}
#abbey-road-title{ background: #524741; box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2); color: white; font-size: 49px; padding: 33px; position: relative; text-align: center; text-transform: uppercase;}
#abbey-road-image{ overflow: hidden; position: relative; z-index: 10;}
#abbey-road-image img{ display: block;}
#abbey-road-map,
#abbey-road-map img,
#abbey-road-map:before,
#abbey-road-map:after{ bottom: 0; display: block; height: 130px; position: absolute; right: 0; width: 130px;}
#abbey-road-map{ background: none; content: ''; height: 200px; overflow: hidden; width: 200px;}
#abbey-road-map:before{ background: url(page-corner.png); content: ' '; z-index: 10;}
#abbey-road-map:after{ background: url(corner-shadow.png); content: ' ';}
#abbey-road-text{ background: #71625a; color: white; font-size: 26px; letter-spacing: -0.02em; line-height: 35px; padding: 25px;}
#abbey-road-text small,
#abbey-road-text small a{ color: #b8b1ad;}
#abbey-road-text small{ display: block; font-size: 18px; margin-top: 1em;}
#abbey-road-text small a:hover{ color: white;}

#immigration{ float: left; position: relative; width: 720px;}
#immigration:after{ background: #e5e5e5; bottom: 110px; content: ' '; height: 100%; position: absolute; right: 0; width: 1px; z-index: 10;}
#immigration-people{ position: relative;}
#immigration-people img{ float: left; position: relative;}
#immigration-people img:nth-child(2){ left: 1px;}
#immigration-people img:nth-child(3){ left: 4px;}
#immigration-people img:nth-child(4){ left: 18px;}
#immigration-title{ clear: left; font-size: 82px; padding: 15px 20px 20px 0; text-transform: uppercase;}
#immigration-subtitle{ font-size: 39px; margin-bottom: 12px; padding: 41px 0 23px; position: relative;}
#immigration-subtitle:before,
#immigration-subtitle:after{ background: black; content: ' '; height: 21px; left: 0; position: absolute; top: 0; width: 700px;}
#immigration-subtitle:after{ bottom: 0; height: 3px; top: auto;}
#immigration-content{ font-size: 22px; letter-spacing: -0.02em; line-height: 29px; padding-right: 20px;}
#immigration-content p{ display: inline; position: relative;}
#immigration-content p:after{ content: ' • '; font-size: 41px; vertical-align: bottom;}
#immigration-content p:last-child:after{ display: none;}
#immigration-content strong{ font-weight: 900;}

#transformers{ background: #3a83bb; color: white; float: right; margin-top: 15px; position: relative; text-align: center; text-transform: uppercase; width: 225px; z-index: 30;}
#transformers-image{ margin: -66px 0 20px; position: relative;}
#transformers-image img{ position: relative; z-index: 30;}
#transformers-image:before{ background: url(bluray-shadow.png) no-repeat 0 0; bottom: -50px; content: ' '; height: 114px; position: absolute; right: -40px; width: 298px;}
#transformers-image:after{ background: url(bluray-text-shadow.png) no-repeat 0 0; bottom: -120px; content: ' '; height: 142px; position: absolute; right: 0; width: 202px;}
#transformers-title{ border-bottom: 8px solid #619bc8; font-size: 31px; margin: 0 15px; padding-bottom: 15px; position: relative; z-index: 10;}
#transformers-title span,
#transformers-title em{ display: inline-block;}
#transformers-title em{ font-size: 21px; font-style: normal;}
#transformers-summary{ font-size: 16px; font-style: italic; letter-spacing: -0.02em; line-height: 24px; margin: 15px 15px 20px; text-align: left; text-transform: none;}
#transformers-rating{ border: dashed #234f70; border-width: 2px 0; box-shadow: 0 5px 0 #3476a8 inset,  0 -5px 0 #3476a8 inset; padding: 20px 0 25px 15px;}
#transformers-rating-label{ color: #88aed1; float: left; font-size: 14px;}
#transformers-rating-label span{ display: block; font-size: 32px;}
#transformers-rating-value{ float: right; font-size: 54px; font-weight: 400; margin-bottom: 15px; position: relative; top: -5px;}
#transformers-rating-value span{ display: inline-block; position: relative; right: 5px;}
#transformers-rating-bar{ clear: both; height: 8px; margin-right: 15px; position: relative;}
#transformers-rating-bar-value{ background: #619cc9; clear: both; height: 100%; position: relative;}
#transformers-rating-bar-value span{ background: white; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 20%;}
#transformers-ticket{ overflow: hidden; padding: 20px 0 27px; position: relative;}
#transformers-ticket:after{ background: white; border-radius: 14px; bottom: -14px; content: ' '; display: block; height: 28px; left: 50%; margin-left: -14px; position: absolute; width: 28px;}
#transformers-ticket-title{ background: #619cc9; color: #88aed1; height: 13px; font-size: 14px; letter-spacing: 0.02em; line-height: 13px; margin: 0 10px 10px;}
#transformers-ticket-title span{ background: #3a83bb; padding: 0 0.5em;}
#transformers-ticket p{ margin-top: 5px;}
#transformers-ticket-venue{ font-size: 27px;}
#transformers-ticket-location{ color: #88aed1; font-size: 28px;}
#transformers-ticket-date{ font-size: 39px;}

#overflow{ clear: both; color: #5e6c74; font-size: 16px; letter-spacing: -0.02em; line-height: 26px; padding-bottom: 80px; position: relative; top: -20px; z-index: 30;}
#overflow-title{ position: relative;}
#overflow-title img{ display: block; height: 407px; left: 50%; margin-left: -556px; max-width: 1112px; position: absolute; top: 0; width: 1112px;}
#overflow-content{ padding-top: 182px;}
#overflow-content p{ clear: both; width: 700px;}
#overflow-content p:first-child{ float: right; margin-bottom: -8px; padding-right: 15px; text-align: right;}
#overflow-content p:nth-child(2){ margin-bottom: 28px;}
#overflow-content p:last-child{ margin-left: 120px;}

footer{ border-top: 1px solid #e5e5e5; clear: both; color: #989898; font-size: 13px; letter-spacing: -0.01em; line-height: 19px; padding: 20px 0; text-align: right;}
footer address strong{ font-weight: 900;}
footer p{ color: #bababa; float: left; font-size: 17px; font-weight: 400; text-align: left;}
footer p strong{ color: #666;}

/* CSS 3 */

::selection{ background: #cdc9dd; color: white;}
#title::selection, #title span::selection, #barbie *::selection{ background: white; color: #cdc9dd;}
#feature *::selection{ background: #fdcd84; color: white;}
#staying-afloat *::selection{ background: #24795a; color: white;}
#bullets *::selection{ background: #e0c167; color: white;}
#abbey-road *::selection{ background: white; color: #71625a;}
#immigration *::selection{ background: black; color: white;}
#transformers *::selection{ background: white; color: #3a83bb;}
#overflow *::selection{ background: #5e6c74; color: white;}

img, #bullets li p, #transformers-title, #transformers-rating, #transformers-ticket *, #overflow-content p{
  transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
}

#abbey-road-map:before, #abbey-road-map:after, #abbey-road-map img{
  transition: all 125ms ease-out;
  -moz-transition: all 125ms ease-out;
  -ms-transition: all 125ms ease-out;
  -o-transition: all 125ms ease-out;
  -webkit-transition: all 125ms ease-out;
}

a, footer, footer *{
  transition: background 250ms ease-out, border 250ms ease-out, color 250ms ease-out;
  -moz-transition: background 250ms ease-out, border 250ms ease-out, color 250ms ease-out;
  -ms-transition: background 250ms ease-out, border 250ms ease-out, color 250ms ease-out;
  -o-transition: background 250ms ease-out, border 250ms ease-out, color 250ms ease-out;
  -webkit-transition: background 250ms ease-out, border 250ms ease-out, color 250ms ease-out;
}


#immigration-content p, #transformers-rating-value{
  transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  -webkit-transition: opacity 250ms ease-out;
}

#feature-image img{
  -webkit-transform: rotate(-3.8deg);
}

#transformers-rating-value span{
  -webkit-transform: scale(0.8, 1);
}

#overflow-content p:first-child{
  -webkit-transform: rotate(2.1deg);
}

#overflow-content p:nth-child(2){
  -webkit-transform: rotate(-0.7deg);
}

#overflow-content p:last-child{
  -webkit-transform: rotate(0.9deg);
}

/* Hover */

#immigration-people:hover img{ margin-top: -80px; padding-bottom: 80px;}
#immigration-people img:hover{ margin-top: 0; padding-bottom: 0;}

#bullets li:hover img{ -webkit-transform: scale(1.25, 1.25); bottom: 50px;}
#bullets li:hover{ color: #e0c167;}
#bullets li:hover p{ bottom: -50px;}

#staying-afloat img:hover{ -webkit-transform: rotate(-3.8deg) scale(1.25, 1.25);}

#abbey-road-map:hover img{ -webkit-transform: rotate(-3.8deg) scale(1.5, 1.5); bottom: 5px; right: -7px;}
#abbey-road-map:hover:after{ -webkit-transform: rotate(-3.8deg) scale(2, 2); bottom: 5px; right: 26px;}
#abbey-road-map:hover:before{ -webkit-transform: rotate(-3.8deg) scale(1.25, 1.25); bottom: 21px; right: 11px;}

#transformers-image img:hover ~ *{ background: red; opacity: 1;}
#transformers-title:hover,
#transformers-rating:hover{ border-color: white;}
#transformers-rating:hover #transformers-rating-label,
#transformers-ticket:hover #transformers-ticket-title,
#transformers-ticket:hover #transformers-ticket-location{ color: white;}
#transformers-ticket:hover #transformers-ticket-title{ background: white;}

#immigration-content:hover p{ opacity: 0.25;}
#immigration-content p:hover{ opacity: 1;}

#overflow-content p:hover{ -webkit-transform: rotate(0deg);}

footer:hover{ border-top-color: #989898;}
footer p:hover, footer address:hover{ color: #666;}

/* Animations */

@-webkit-keyframes fade-in{
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}

@-webkit-keyframes right{
  0%{ opacity: 0; -webkit-transform: translateX(-100%);}
  100%{ opacity: 1; -webkit-transform: translateX(0);}
}

@-webkit-keyframes left{
  0%{ opacity: 0; -webkit-transform: translateX(100%);}
  100%{ opacity: 1; -webkit-transform: translateX(0);}
}

@-webkit-keyframes up{
  0%{ opacity: 0; -webkit-transform: translateY(20px);}
  100%{ opacity: 1; -webkit-transform: translateY(0);}
}

@-webkit-keyframes up-inline{
  0%{ opacity: 0; top: 20px;}
  100%{ opacity: 1; top: 0;}
}

@-webkit-keyframes down{
  0%{ opacity: 0; -webkit-transform: translateY(-20px);}
  100%{ opacity: 1; -webkit-transform: translateY(0);}
}

@-webkit-keyframes full-down{
  0%{ opacity: 0; -webkit-transform: translateY(-100%);}
  100%{ opacity: 1; -webkit-transform: translateY(0);}
}

@-webkit-keyframes full-up{
  0%{ opacity: 0; -webkit-transform: translateY(100%);}
  100%{ opacity: 1; -webkit-transform: translateY(0);}
}

@-webkit-keyframes rotate-image{
  0%{ opacity: 0; -webkit-transform: rotate(0deg) translateY(-20px);}
  100%{ opacity: 1; -webkit-transform: rotate(-3.8deg) translateY(0);}
}

@-webkit-keyframes scale-x{
  0%{ opacity: 0; -webkit-transform: scale(0, 1);}
  100%{ opacity: 1; -webkit-transform: scale(1, 1);}
}

@-webkit-keyframes scale-y{
  0%{ opacity: 0; -webkit-transform: scale(1, 0);}
  100%{ opacity: 1; -webkit-transform: scale(1, 1);}
}

@-webkit-keyframes grow{
  0%{ opacity: 0; -webkit-transform: scale(0, 0);}
  100%{ opacity: 1; -webkit-transform: scale(1, 1);}
}

@-webkit-keyframes bounce{
  0%{ -webkit-transform: translateY(0);}
  50%{ -webkit-transform: translateY(-20px);}
  100%{ -webkit-transform: translateY(0);}
}

@-webkit-keyframes gentle-bounce{
  0%{ -webkit-transform: translateY(0);}
  50%{ -webkit-transform: translateY(-5px);}
  100%{ -webkit-transform: translateY(0);}
}

@-webkit-keyframes bounce-shadow{
  0%{ -webkit-transform: scale(1, 1);}
  50%{ -webkit-transform: scale(0.75, 0.75);}
  100%{ -webkit-transform: scale(1, 1);}
}

@-webkit-keyframes bounce-fade{
  0%{ opacity: 1;}
  50%{ opacity: 0.5;}
  100%{ opacity: 1;}
}

@-webkit-keyframes progress{
  0%{  width: 0;}
  100%{ width: 100%;}
}

@-webkit-keyframes progress-20{
  0%{  width: 0;}
  100%{ width: 20%;}
}

/* Specific animations */

@-webkit-keyframes background{
  0%{ -webkit-transform: translateX(-100%);}
  100%{ -webkit-transform: translateX(0);}
}

@-webkit-keyframes boots{
  0%{ opacity: 0; -webkit-transform: rotate(15deg) scale(1.25, 1.25);}
  100%{ opacity: 1; -webkit-transform: rotate(0deg) scale(1, 1);}
}

@-webkit-keyframes bullets-list{
  0%{ -webkit-transform: scale(0, 0);}
  100%{ -webkit-transform: scale(1, 1);}
}

@-webkit-keyframes corner{
  0%{ opacity: 0; -webkit-transform: translate(20px, 20px);}
  100%{ opacity: 1; -webkit-transform: translate(0, 0);}
}

@-webkit-keyframes transformers-title{
  0%{ border-bottom-color: transparent;}
  100%{ border-bottom-color: #619bc8;}
}

@-webkit-keyframes immigration-borders{
  0%{ opacity: 0; width: 0;}
  100%{ opacity: 1; width: 700px;}
}

@-webkit-keyframes overflow-1{
  0%{ opacity: 0; -webkit-transform: rotate(0deg);}
  100%{ opacity: 1; -webkit-transform: rotate(2.1deg);}
}

@-webkit-keyframes overflow-2{
  0%{ opacity: 0; -webkit-transform: rotate(0deg);}
  100%{ opacity: 1; -webkit-transform: rotate(-0.7deg);}
}

@-webkit-keyframes overflow-3{
  0%{ opacity: 0; -webkit-transform: rotate(0deg);}
  100%{ opacity: 1; -webkit-transform: rotate(0.9deg);}
}

#feature-image:after,
#feature-content:before,
#bullets-list li,
#immigration-people img,
#immigration-subtitle:before,
#immigration-subtitle:after,
#immigration-content p,
#immigration:after,
#transformers-image:before,
#transformers-image:after,
#transformers-ticket p,
#transformers-ticket:after,
#overflow-content p,
.animated{ -webkit-animation-duration: 1000ms; -webkit-animation-fill-mode: both; -webkit-animation-timing-function: ease;}

.start #title-background{ -webkit-animation-name: background; -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);}
.start #title{ -webkit-animation-delay: 250ms; -webkit-animation-name: right; -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);}
.start #volume{ -webkit-animation-delay: 500ms; -webkit-animation-name: left; -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);}
.start #feature-image img{ -webkit-animation-delay: 1000ms; -webkit-animation-name: rotate-image;}
.start #feature-image:after{ -webkit-animation-delay: 1000ms; -webkit-animation-name: up;}
.start #feature-content:before{ -webkit-animation-delay: 1000ms; -webkit-animation-name: fade-in;}
.start #feature-label{ -webkit-animation-delay: 1250ms; -webkit-animation-name: down;}
.start #feature-title{ -webkit-animation-delay: 1500ms; -webkit-animation-name: down;}
.start #feature-text{ -webkit-animation-delay: 1750ms; -webkit-animation-name: down;}
.start #barbie-background{ -webkit-animation-delay: 1750ms; -webkit-animation-name: background;}
.start #barbie-image{ -webkit-animation-delay: 2000ms; -webkit-animation-name: down;}
.start #barbie-title{ -webkit-animation-delay: 2250ms; -webkit-animation-name: down;}
.start #barbie-text{ -webkit-animation-delay: 2500ms; -webkit-animation-name: down;}
.start #staying-afloat-title{ -webkit-animation-delay: 0ms; -webkit-animation-name: down;}
.start #staying-afloat-text{ -webkit-animation-delay: 250ms; -webkit-animation-name: down;}
.start#staying-afloat img{ -webkit-animation-delay: 500ms; -webkit-animation-name: boots;}
.start #bullets-title{ -webkit-animation-delay: 750ms; -webkit-animation-name: scale-x; -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);}
.start #bullets-list li{ -webkit-animation-delay: 1250ms; -webkit-animation-name: bullets-list; -webkit-animation-timing-function: cubic-bezier(0, 1.5, 0.25, 1);}
.start #bullets-list li:nth-child(2){ -webkit-animation-delay: 1500ms;}
.start #bullets-list li:nth-child(3){ -webkit-animation-delay: 1750ms;}
.start #bullets-list li:nth-child(4){ -webkit-animation-delay: 2000ms;}
.start #bullets-list li:nth-child(5){ -webkit-animation-delay: 2250ms;}
.start #abbey-road-title{ -webkit-animation-delay: 0ms; -webkit-animation-name: scale-y; -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);}
.start #abbey-road-image{ -webkit-animation-delay: 250ms; -webkit-animation-name: fade-in;}
.start #abbey-road-map{ -webkit-animation-delay: 1000ms; -webkit-animation-name: corner;}
.start #abbey-road-text{ -webkit-animation-delay: 750ms; -webkit-animation-name: down;}
.start #immigration-people img{ -webkit-animation-delay: 0ms; -webkit-animation-name: down;}
.start #immigration-people img:nth-child(2){ -webkit-animation-delay: 250ms;}
.start #immigration-people img:nth-child(3){ -webkit-animation-delay: 500ms;}
.start #immigration-people img:nth-child(4){ -webkit-animation-delay: 750ms;}
.start #immigration-title,
.start #immigration-subtitle{ -webkit-animation-name: scale-y; -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);}
.start #immigration-title{ -webkit-animation-delay: 750ms;}
.start #immigration-subtitle{ -webkit-animation-delay: 1000ms;}
.start #immigration-subtitle:before,
.start #immigration-subtitle:after{ -webkit-animation-name: immigration-borders; -webkit-animation-timing-function: cubic-bezier(0.8, 0.2, 0.2, 0.8);}
.start #immigration-subtitle:before{ -webkit-animation-delay: 1000ms;}
.start #immigration-subtitle:after{ -webkit-animation-delay: 1250ms;}
.start #immigration-content p{ -webkit-animation-delay: 1500ms; -webkit-animation-name: up-inline;}
.start #immigration-content p:nth-child(2){ -webkit-animation-delay: 1750ms;}
.start #immigration-content p:nth-child(3){ -webkit-animation-delay: 2000ms;}
.start #immigration-content p:nth-child(4){ -webkit-animation-delay: 2250ms;}
.start #immigration-content p:nth-child(5){ -webkit-animation-delay: 2500ms;}
.start#immigration:after{ -webkit-animation-delay: 5250ms; -webkit-animation-name: fade-in;}
.start#transformers{ -webkit-animation-delay: 2500ms; -webkit-animation-name: fade-in;}
.start #transformers-image img{ -webkit-animation-delay: 2750ms; -webkit-animation-name: full-down; -webkit-animation-timing-function: cubic-bezier(0, 1.5, 0.25, 1);}
.start #transformers-image:before{ -webkit-animation-delay: 2750ms; -webkit-animation-name: grow; -webkit-animation-timing-function: cubic-bezier(0, 1.5, 0.25, 1);}
.start #transformers-image:after{ -webkit-animation-delay: 2750ms; -webkit-animation-name: fade-in;}
.start #transformers-title{ -webkit-animation-delay: 3500ms; -webkit-animation-name: transformers-title;}
.start #transformers-title span,
.start #transformers-title em{ -webkit-animation-name: scale-y; -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);}
.start #transformers-title span{ -webkit-animation-delay: 3000ms;}
.start #transformers-title em{ -webkit-animation-delay: 3250ms;}
.start #transformers-summary{ -webkit-animation-delay: 3750ms; -webkit-animation-name: up;}
.start #transformers-rating{ -webkit-animation-delay: 4000ms; -webkit-animation-name: scale-y;}
.start #transformers-rating-bar-value{ -webkit-animation-delay: 4250ms; -webkit-animation-name: progress;}
.start #transformers-rating-bar-value span{ -webkit-animation-delay: 4500ms; -webkit-animation-name: progress-20;}
.start #transformers-ticket-title,
.start #transformers-ticket p{ -webkit-animation-delay: 4500ms; -webkit-animation-name: scale-y;}
.start #transformers-ticket p{ -webkit-animation-delay: 4625ms;}
.start #transformers-ticket p:nth-child(3){ -webkit-animation-delay: 4750ms;}
.start #transformers-ticket p:nth-child(4){ -webkit-animation-delay: 4875ms;}
.start #transformers-ticket:after{ -webkit-animation-delay: 5000ms; -webkit-animation-name: up;}
.start #overflow-title{ -webkit-animation-delay: 0ms; -webkit-animation-name: up;}
.start #overflow-content p:first-child{ -webkit-animation-delay: 250ms; -webkit-animation-name: overflow-1;}
.start #overflow-content p:nth-child(2){ -webkit-animation-delay: 500ms; -webkit-animation-name: overflow-2;}
.start #overflow-content p:last-child{ -webkit-animation-delay: 750ms; -webkit-animation-name: overflow-3;}
footer.start{ -webkit-animation-delay: 0ms; -webkit-animation-name: scale-y; -webkit-animation-timing-function: cubic-bezier(0, 1.5, 0.25, 1);}
footer.start p{ -webkit-animation-delay: 1000ms; -webkit-animation-name: scale-y; -webkit-animation-timing-function: cubic-bezier(0, 1.5, 0.25, 1);}
footer.start address{ -webkit-animation-delay: 1500ms; -webkit-animation-name: scale-y; -webkit-animation-timing-function: cubic-bezier(0, 1.5, 0.25, 1);}

/* Hover animations */

.stop #transformers-image:hover img,
.stop #transformers-image:hover:before,
.stop #transformers-image:hover:after,
.stop#overflow:hover #overflow-title{ -webkit-animation-delay: 0ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear;}
.stop #transformers-image:hover img{ -webkit-animation-name: bounce;}
.stop#overflow:hover #overflow-title{ -webkit-animation-duration: 3000ms; -webkit-animation-name: gentle-bounce;}
.stop #transformers-image:hover:before{ -webkit-animation-name: bounce-shadow;}
.stop #transformers-image:hover:after{ -webkit-animation-name: bounce-fade;}

/* Responsiveness */

@media only screen and (max-width: 1000px) {
  .wrap{ width: 880px;}
  #feature{ width: 470px;}
  #feature-image{ right: 73px;}
  #feature-content:before{ left: -44px;}
  #barbie{ width: 370px;}
  #bullets{ width: 720px;}
  #bullets-list li span span{ font-size: 90%;}
  #immigration{ width: 640px;}
  #immigration-people img{ width: 20%;}
  #immigration-title{ font-size: 72px;}
  #immigration-subtitle{ font-size: 34px;}
  #immigration-subtitle:before, #immigration-subtitle:after{ max-width: 620px;}
}

@media only screen and (max-width: 920px) {
  .wrap{ width: 800px;}
  #feature{ margin-right: 30px; width: 390px;}
  #barbie{ width: 330px;}
  #bullets{ width: 640px;}
  #bullets-list li span span{ font-size: 80%;}
  #immigration{ width: 560px;}
  #immigration-title{ font-size: 63px;}
  #immigration-subtitle{ font-size: 30px;}
  #immigration-subtitle:before, #immigration-subtitle:after{ max-width: 540px;}
}

@media only screen and (max-width: 860px) {
  #barbie-background,
  #immigration:after,
  #transformers-image:after
  { display: none;}
  #feature,
  #barbie,
  #staying-afloat,
  #bullets,
  #immigration,
  #transformers,
  footer
  { float: none; margin: 0 20px; width: auto;}
  .wrap{ width: auto;}
  #title{ top: 0;}
  #title-background{ height: 548px;}
  #feature{ padding-top: 189px;}
  #feature-image{ right: 20px;}
  #feature-title{ margin-bottom: 100px;}
  #barbie{ background: url(barbie-floor.png) repeat-x center 240px;  margin: 20px 0 0; padding-top: 0;}
  #barbie-image{ position: static;}
  #staying-afloat{ text-align: left;}
  #staying-afloat-text{ margin-left: 0; margin-right: 0;}
  #bullets-list{ float: left; padding-bottom: 60px; width: 100%;}
  #bullets-list li span span{ font-size: 70%;}
  #immigration{ margin-bottom: 20px;}
  #immigration-subtitle:before, #immigration-subtitle:after{ max-width: 100%;}
  #transformers{ margin: 0;}
  #transformers-image{ margin: 0 auto 40px; width: 185px;}
  #overflow-title{ margin-bottom: -80px; text-align: center;}
  #overflow-title img{ height: auto; margin-left: -3%; max-width: 100%; position: static; width: auto;}
  #overflow-content{ margin: 0 20px; padding-top: 0;}
  #overflow-content p,
  #overflow-content p:first-child{ margin: 1em 0; width: 80%;}
}

@media only screen and (max-width: 740px) {
  #title-background,
  #feature-image:after,
  #feature-content:before
  { display: none;}
  #title{ background: #cdc9dd; position: static;}
  #volume{ background: white; padding: 1em;}
  #feature{ padding-top: 0;}
  #feature-image{ height: auto; position: static;}
  #feature-image img{ max-width: 100%; -webkit-transform: rotate(0deg);}
  #feature-content{ margin-top: 2em;}
  #feature-title{ margin-bottom: 0.25em;}
  #bullets-list li{ border-bottom: 1px solid #e5e5e5; box-shadow: none; clear: both; float: none; padding-bottom: 20px; text-align: center; width: auto;}
  #bullets-list li p{ position: static;}
  #bullets-list li span span{ font-size: 100%;}
  #overflow-content p:last-child{ margin-left: 10%;}
}

@media only screen and (max-width: 480px) {
  #title{ font-size: 60px; line-height: 1; padding: 2em 0; text-align: center;}
  #title br{ display: none;}
  #title span{ margin: 0;}
  #volume{ padding: 2em; position: static; text-align: center;}
  #feature-title{ font-size: 45px; line-height: 1;}
  footer{ text-align: left;}
  footer p{ float: none; margin-bottom: 1em;}
}


